* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F6F8F9;
    font-family: Arial, Helvetica, sans-serif;
}

header, .buttons-container, .task-container {
    background-color: white;
}

main {
    width: 900px;
    margin: auto;
    margin-top: 45px;
}

#img-logo, #text-logo {
    vertical-align: middle;
}

#img-logo {
    margin: 10px 10px 10px 20px;
}

#text-logo {
    font-size: 35px;
    font-weight: bold;
}

#add-task {
    background-color: #48AEF1;
    color: #E3F4FD;
}

#add-section {
    color: #D1D5DA;
    border: 2px solid #D1D5DA;
}

.buttons-container {
    padding-top: 20px;
    padding-bottom: 12px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-bottom: 5px;
}

.button {
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    margin-right: 15px;
}

.left-padding {
    padding-left: 70px;
}