* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F6F8F9;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header, .buttons-container, .task-container {
    background-color: white;
}

header {
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

main {
    width: 900px;
    margin: auto;
    margin-top: 45px;
}

#img-logo, #text-logo {
    vertical-align: middle;
}

#img-logo {
    margin: 10px 10px 10px 20px;
}

#text-logo {
    font-size: 35px;
    font-weight: bold;
}

#add-task {
    background-color: #48AEF1;
    color: white;
    border: 2px solid #48AEF1;
}

#add-section {
    color: #D1D5DA;
    border: 2px solid #D1D5DA;
}

.buttons-container {
    padding-top: 15px;
    padding-bottom: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-bottom: 5px;
}

.button {
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    padding: 7px;
    border-radius: 8px;
}

.left-padding {
    padding-left: 70px;
}

.task-container h3 {
    
    padding-bottom: 15px;
    font-size: 20px;
}

.top-padding {
    padding-top: 25px;
}

.task-container p {
    padding-bottom: 25px;
    font-size: 15px;
}

.check {
    border: 2px solid;
    border-radius: 50%;
    margin-right: 7px;
    font-size: 15px;
    vertical-align: middle;
    display: inline-block;
    width: 24px;
    height: 24px;
    text-align: center;
}

.green-border {
    border-color: #A1DBCD;
    color: #A1DBCD;
}

.red-border {
    border-color: #F48E89;
    color: #F48E89;
}

.tag {
    font-size: 12px;
    padding: 10px;
    border-radius: 14px;
    color: white;
    vertical-align: middle;
}

.editorial {
    background-color: #46ACEB;
}

.q1-goals {
    background-color: #9D73E4;
}

.recruiting {
    background-color: #63C0A9;
}

.mobile {
    background-color: #F29E33;
}

.website {
    background-color: #D764A2;
}

.sales {
    background-color: #B1C925;
}
